html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #7fbff0;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: #a9c4d9;
  padding: 0 40px 40px 40px;
  border: 5px solid rgb(40, 55, 98);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #5581aa;
  text-shadow: 3px 3px 1px rgb(6, 4, 38);
}

img {
  display: block;
  margin: auto;
}
